* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  text-align: center;
}

input[type="text"] {
  width: 10%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

#country-list {
  margin-top: 2px;
  padding: 0;
}

li {
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #f2f2;
}
